/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body {
    background-color: #0A0A0A;
    color: #ffffff;
}

.center {
    text-align: center;
}

.active_item {
    background-color: #e30914 !important;
}

/* LOGIN STYLING */

.session_elements_holder {
    position: relative;
    top: 120px;
}

.logo_slogan_holder {
    padding-bottom: 50px;
}

.logo {
    width: 270px;
}

.slogan {
    font-size: 22px;
    margin-top: 28px;
}

.session_items_holder {
    width: 350px;
}

.error_items_holder {
    margin: 1em 0;
    width: 350px;
}

.session_input {
    margin-bottom: 15px !important;
    height: 50px;
    background-color: #222222 !important;
    color: #fff !important;
}

.session_input:focus {
    border-color: #e30914 !important;
}

.session_btn {
    height: 45px;
    width: 260px;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    border-radius: 100px !important;
    background-color: #e30914 !important;
    color: #fff !important;
    text-transform: uppercase !important;
}

.bottom_text {
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.user_list_card {
    float: left;
    margin: 15px 25px 15px 0px;
    padding: 1px 15px 1px 15px;
    width: 200px;
    height: 200px;
    background-color: #6F1400 ;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
}

.user_list_card:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.user_profile_card {
    margin: auto;
    padding: 1px 15px 1px 15px;
    width: 500px;
    text-align: center;
    background-color: #6F1400 ;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.user_profile_review_card {
    float: left;
    margin: 15px 25px 15px 0px;
    padding: 1px 15px 1px 15px;
    width: 200px;
    background-color: #6F1400 ;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* USER PROFILE PAGE STYLING */

.edit_page_session_input {
    margin-top: 5px !important;
    margin-bottom: 15px !important;
    height: 50px;
    background-color: #222222 !important;
    color: #fff !important;
}

.edit_page_session_input:focus {
    border-color: #e30914 !important;
}

.header {
    font-size: 2rem;
    margin-top: 28px;
}

.delete_profile_btn {
    height: 45px;
    width: 260px;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    border-radius: 100px !important;
    background-color: gray !important;
    color: #fff !important;
    text-transform: uppercase !important;
}

/* REVIEW FORM STYLING */

.ui.form select {
    background-color: #222222;
    color: #fff;
}

option { 
    background-color: #222222; 
}
    
/* CARD STYLING */

.custom_card {
    background-color: #222222 !important;
    box-shadow: none !important; 
}

.custom_card:hover {
  border: 1px solid #e30914 !important;
  transform: scale(1.2, 1.2);
}

.custom_card a, i {
    color: #fff;
}

.custom_card p, h4, h1 {
    display: inline;
    color: #fff !important;
}

.custom_card img {
    display: block !important;
    width: 100% !important;
    height: 200px !important;
    object-fit: cover !important;
}

.custom_segment {
    background-color: #222222 !important;
}

.new_post_btn {
    z-index: 100000;
    position: fixed;
    bottom: 30px;
    right: 50px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border-style: hidden;
    background-color: #e30914;
}

.new_post_btn i {
    left: 1.5px;
    position: relative;
    font-size: 18px;
}

.new_post_btn:hover {
    cursor: pointer;
}

.new_post_btn:focus {
    outline: 0;
}

.general_button_red_h:hover {
  border: 1px solid #e30914 !important;
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

.filter_by_coloring {
  border: 2px solid #e30914 !important;
  width: 350px;
}

.filter_by_coloring p {
  font-size: 18px; 
}

.review_show_color {
    background-color: #222222 !important;
    height: 100% !important;
    width: 800px !important;
    align-self: center;
}

.delete_button {
    height: 35px;
    width: 200px;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    border-radius: 100px !important;
    background-color: #e30914 !important;
    color: #fff !important;
    text-transform: uppercase !important;
}
