/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
    background-color: #0A0A0A;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;

}

a {
    color: #E30914

}

img {
    width: 20%;
    height: auto;
}

.user_list_card {
    float: left;
    margin: 15px 25px 15px 0px;
    padding: 1px 15px 1px 15px;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.user_list_card:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.user_profile_card {
    margin: auto;
    padding: 1px 15px 1px 15px;
    width: 500px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.user_profile_review_card {
    float: left;
    margin: 15px 25px 15px 0px;
    padding: 1px 15px 1px 15px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 12px;
    background-color: cornflowerblue;
}

.navbar li {
    display: inline;
}

.navbar li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */

.center {
  text-align: center;
}

.item {
    border: 3px solid black !important
}